/* VARIABLE DEFINITIONS */
:root {
  --primary: #1f1f1f;
  --secondary: #2563eb;
  --accent: #60a5fa;
  --primary-fg: #fff;

  --darkened-bg: #f8f8f8; /* A bit darker than --body-bg */
  --selected-bg: #e4e4e4; /* E.g. selected table cells */
  --selected-row: #ffc;

  --body-fg: #333;
  --body-bg: #fff;
  --body-quiet-color: #666;
  --body-loud-color: var(--primary);

  --header-color: #fff;
  --header-branding-color: var(--accent);
  --header-bg: #0b1220;
  --header-link-color: var(--primary-fg);

  --breadcrumbs-fg: #c4dce8;
  --breadcrumbs-link-fg: var(--body-bg);
  --breadcrumbs-bg: var(--primary);

  --link-fg: #447e9b;
  --link-hover-color: #036;
  --link-selected-fg: #5b80b2;

  --hairline-color: #e8e8e8;
  --border-color: #ccc;

  --error-fg: #ba2121;

  --message-success-bg: #dfd;
  --message-warning-bg: #ffc;
  --message-error-bg: #ffefef;

  --button-fg: #fff;
  --button-bg: var(--secondary);
  --button-hover-bg: #609ab6;
  --default-button-bg: var(--secondary);
  --default-button-hover-bg: #205067;
  --close-button-bg: #888; /* Previously #bbb, contrast 1.92 */
  --close-button-hover-bg: #747474;
  --delete-button-bg: #ba2121;
  --delete-button-hover-bg: #a41515;

  --object-tools-fg: var(--button-fg);
  --object-tools-bg: var(--close-button-bg);
  --object-tools-hover-bg: var(--close-button-hover-bg);
}

#header a:link, #header a:visited {
    color: #60a5fa;
    opacity: 0.75;
}

#user-tools a:focus, #user-tools a:hover {
    text-decoration: none;
    border-bottom-color: #60a5fa;
    color: #60a5fa;
    opacity: 1;
}

div.breadcrumbs {
    color: #ccc;
}

.dashboard #content {
    width: auto;
}

.colMS {
    margin-right: 0;
}

div#footer {
    margin-top: auto;
    padding: 10px 40px;
    background: var(--header-bg);
}
div#footer span {
    font-size: 12px;
}
